/out/production/ornek/com/bilgeadam/ornek/HesapMakinesi.class
/out/production/ornek/com/bilgeadam/ornek/Kisi.class
/out/production/ornek/com/bilgeadam/ornek/KişiTest.class
/out/production/ornek/com/bilgeadam/ornek/Oyuncu.class
/out/production/ornek/com/bilgeadam/ornek/OyuncuTest.class
/out/production/ornek/com/bilgeadam/ornek/StaticDeneme.class
/out/production/ornek/com/bilgeadam/ornek/VeriTipleri.class
